<!-- NAVBAR STARTS -->
<nav>
    <div class="navbar">
        <i class='bx bx-menu'></i>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7P11LAqNGKEj80fq8-UzsDHuFHEZIVVaSZQ&usqp=CAU"
            width="100px" height="50px" style="margin-left:-100px ;">
        <div class="logo"><a routerLink="/home">InterviewQAForum</a></div>
        <div class="nav-links">
            <div class="sidebar-logo">
                <span class="logo-name"><a routerLink="/home">InterviewQAForum</a></span>
                <i class='bx bx-x'></i>
            </div>
            <ul class="links">
                <li><a routerLink="/home">HOME</a></li>
                <li><a routerLink="/aboutus">ABOUT US</a></li>

                <li>
                    <a routerLink="/topic">TOPICS</a>
                    <!-- <i class='bx bxs-chevron-down js-arrow arrow '></i>
                    <ul class="js-sub-menu sub-menu">
                        <li><a href="#">JAVA</a></li>
                        <li><a href="#">SPRING</a></li>
                        <li><a href="#">MYSQL</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">ANGULAR</a></li>
                    </ul> -->
                </li>
                <li><a routerLink="/contactus">CONTACT US</a></li>
                <!-- <li><a routerLink="/comments">Add Comments</a></li> -->
            </ul>
        </div>

        <button class=" btn" type="button"
            style="width: 200px; height: 50px; font-size: 16px; font-weight: 700; margin-left: 200px;"><a routerLink="/add">Create Account -></a></button>
        <button class=" btn" type="button"
            style="width: 100px; height: 50px; font-size: 16px; font-weight: 700; margin-right:-95px; "><a routerLink="/login">Log In</a></button>
    </div>
    <div class="mar">
        <marquee>
            Post The Questions And Get Accurate Answers
        </marquee>
    </div>
    
</nav>

<!-- NAVBAR ENDS -->