<!-- NAVBAR STARTS
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: 100px;   ">
     <a class="navbar-brand" href="#">Interview QA forum</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent"
      style="background: #3E8DA8; margin-left: 200px; margin-right: 200px; height: 50px; width: 100px;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/createPost"
            style="text-align: center; border: solid 2px black; background-color: aliceblue; font-weight: 500;">Post</a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link" routerLink="/addT"
            style="text-align: center; border: solid 2px black; background-color: aliceblue; font-weight: 500; margin-left: 250px;">Add A
            topic <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tList"
            style="text-align: center; border: solid 2px black; background-color: aliceblue; font-weight: 500;">List Of
            Topics</a>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link" routerLink="/add"
            style="text-align: center; border: solid 2px black; background-color: aliceblue; font-weight: 500; ">Add
            A Comment <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/list"
            style="text-align: center; border: solid 2px black; background-color: aliceblue; font-weight: 500;">List Of
            Comments</a>
        </li>
  
  
      </ul>
  
    </div>
  </nav> -->
  
  <!-- NAVBAR ENDS -->


<!-- 
<div style="margin-top: 10px;">

<div class="input-group">
    <input #custId type="text" class="form-control rounded" placeholder="Enter Post Id" required name="id"
        aria-label="Search" aria-describedby="search-addon" />
    <button type="button" (click)="postDetails(custId.value)" class="btn btn-outline-primary"
        data-mdb-ripple-init>search</button>

</div>

<div style=" font-size: 25px; height: 200px; width: 500px; margin-top: 20px; margin-left: 35%; ">
    <div *ngIf="visit" style="background-color: antiquewhite; border: 2px solid black;padding: 15px;">
        <div>
            <label><b>Post Id: </b></label> {{post.postId}}
            <br>
            <label><b>Post contents: </b></label> {{post.content}}
        </div>
        <hr style="color: black;">
        <div *ngFor="let p of post.comments">
            <label><b>Comments Id: </b></label> {{p.commentsId}}
            <br>
            <label><b>Comments contents: </b></label> {{p.contents}}
            

        </div>
    </div>
</div>
</div>-->